@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "../styles/eggStyles/eat.scss";
@import "../styles/eggStyles/fight.scss";
@import "../styles/eggStyles/play.scss";
@import "../styles/eggStyles/sleep.scss";


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cf2836cb-5893-4a6c-b156-5a89d94fc721/dce2lel-2fe38691-095c-4970-ad6a-a75f7291d9dd.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NmMjgzNmNiLTU4OTMtNGE2Yy1iMTU2LTVhODlkOTRmYzcyMVwvZGNlMmxlbC0yZmUzODY5MS0wOTVjLTQ5NzAtYWQ2YS1hNzVmNzI5MWQ5ZGQuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HYbN6rV3DsjUteXVVskf9fZAqP9LySxGHIKDo4gHkU8');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  font-size: xx-small;
}

#quad-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#left-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25em;
  padding-right: 40em;
}

#right-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25em;
  padding-left: 40em;
}
